.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 40px;
}
.heading{
  font-weight: 700;
  font-size: 24px;
  color: #0044B3;
  margin: 10px 0 20px;
}
.app-content{
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}
.input-textarea{
  height: 500px;
  resize: none;
  background: gainsboro;
}
.left-content, .right-content{
  display: grid;
  gap: 8px;
  grid-template-columns:1fr;
  width: 50%;
}

.error-message{
  color: #A50026;
  font-size: 16px;
  font-weight: 600;
}